body {
  padding-top: 15px;
  background-color: #fffdf0;
}

.content {
  background-color: #ebebeb;
  border-radius: 5px;
  padding: 15px 20px 10px 20px;
  width: 600px;
  margin: 0 auto;
}

.product {
  margin-top: 3px;
  padding: 4px 8px;
  background-color: #f5f5f5;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
}

.product img {
  height: 50px;
  float: right;
}

.prod-name {
  padding: 3px 0;
  font-size: 0.95em;
}

.prod-descr {
  padding: 0;
  font-size: 0.8em;
}

.product-count {
  font-size: 0.8em;
}

.stats {
  font-size: 0.85em;
  margin-top: 10px;
}