body {
  padding-top: 15px;
  background-color: #fffdf0;
}

.content {
  background-color: #ebebeb;
  border-radius: 5px;
  padding: 20px 20px;
}

.product {
  margin-top: 2px;
  background-color: #7ea6ff;
  border-radius: 4px;
  padding: 6px;
}

.user-input {
  padding-bottom: 15px;
}

.product img {
  height: 50px;
  width: auto;
}

.prod-name {
  padding: 15px 0;
  font-size: 1em;
}

.prod-descr {
  font-size: 0.8em;
}

.product-count {
  font-size: 0.8em;
}

.spinner {
  font-size: 0.8em;
}