<div class="container-fluid bg">
  <div class="col-xs-1 separator">kk</div>
  <div class="col-xs-1 overlay"></div>
  <div class="col-xs-10 content">

    <div class="row user-input">
      <div class="col-xs-4">
        <a class="btn btn-success" ng-click="productSearch()"> Find products... </a>
      </div>
      <div class="col-xs-8">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Filter:</span>
          <input type="text" class="form-control" ng-model="query" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>

    <div class="row stats">
      <span class="col-xs-1">status:</span>
      <span class="col-xs-4"> {{ socketStatus }} </span>
      <ul class="col-xs-5 list-unstyled">
        <li>start: &nbsp;{{ startTime }}</li>
        <li>&nbsp;end: &nbsp;{{ endTime }}</li>
      </ul>
      <ul class="col-xs-2 list-unstyled">
        <li>{{ products.length }} / {{ counter }} / {{ total }}</li>
        <li>T / U / P</li>
      </ul>
    </div>

    <div class="row product loading" ng-repeat="p in products | filter:query | orderBy:'-score'">
      <img ng-src="{{p.img_url}}" alt="{{p.name}}">
      <ul class="col-xs-2 list-unstyled">
        <li class="prod-name">{{p.name}}</li>
        <li class="prod-score">score: {{p.score}}</li>
      </ul>
      <div class="col-xs-8 prod-descr">{{p.desc | limitTo : 190 }}...</div>
    </div>

  </div>
</div>
